@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Sora:wght@600&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

:root {
    --primary-color: #ff6b6b;               /* Coral */
    --primary-color-hover: #ffa8a8;
    --secondary-color: #ffffff;
    --tertiary-color: #f9f9f9;
}

button:hover {
    background-color: var(--primary-color-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}

/* Reset CSS */
*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--tertiary-color);
}

/* Utilitys */
.component-title{
    font-weight: bold;
    font-size: 1.3rem;
}