<p id="aaa">Contato</p>

<form id="email-form">
    <label>
        Nome: 
        <input type="text" name="name" required placeholder="Digite seu nome"></label>
    <label>
        E-mail: 
        <input type="email" name="email" required placeholder="Digite seu e-mail"></label>
    <label>
        Mensagem: 
        <textarea name="message" required placeholder="Digite sua mensagem"></textarea></label>
  
    <button type="submit">Enviar</button>
  </form>

  <style>

  </style>
    
    <script type="module" src="contato.html"></script>
<script >
    document.getElementById("email-form").addEventListener("submit", function(event) {
    event.preventDefault();
    const url = "https://formsubmit.co/gabriel.calde21@gmail.com";
    const formData = new FormData(this);

    fetch(url, {
      method: "POST",
      body: formData
    })
    .then(response => {
      if (response.ok) {
        alert("Mensagem enviada com sucesso!");
      } else {
        alert("Erro ao enviar a mensagem.");
      }
    })
    .catch(error => {
      alert("Erro ao enviar: " + error.message);
    });
  });
</script>