<p class="component-title">Envie sua Mensagem</p>

<form id="email-form" class="contact-form">
  <div>
    <label class="contact-form-label">Nome: </label>
    <input class="contact-form-name" type="text" name="name" required placeholder="Digite seu nome">
  </div>

  <div>
    <label class="contact-form-label">E-mail: </label>
    <input class="contact-form-email" type="email" name="email" required placeholder="Digite seu e-mail">
  </div>
  
  </div>
    <label class="contact-form-label">Mensagem: </label>
    <textarea class="contact-form-message" name="message" required placeholder="Digite sua mensagem"></textarea>
  </div>

  <button type="submit" class="contact-form-button">Enviar</button>
</form>

  <p id="success-message">Mensagem enviada com sucesso!</p>
  <p id="error-message">Houve um erro no envio de sua mensagem, tente novamente.</p>