@import url("../app.css");

header{
    margin: 25px 0;
}

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 2.3rem;
    font-weight: bold;
}

.subtitle{
    font-size: 1rem;
    font-weight: 100;
}


@media (max-width: 600px) {
    /* Header */
    .header-title{
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding-right: 7%;
    }

    .title{
        font-size: 2.5rem;
    }
    
    .subtitle{
        font-size: 1.3rem;
        padding-left: 15%;
    }
}