@import url("../app.css");

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divider{
    display: block;
    width: 100%;
    margin: 0 15px;
    text-align: center;
    height: 0.5rem;
    background-color:  var(--primary-color);
}

@media (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-color);
    }
}