@import url("../app.css");

nav{
    width: 12vw;
    min-height: 100vh;
    background-color: var(--primary-color);
    z-index: 999;
}

.nav-buttons{
    margin-top: 10vh;
    margin-left: 7px;
}

.nav-buttom{
    display: flex;
    align-items: center; 
    margin-top: 3px;
    height: 2.3rem;
    background-color: var(--primary-color);
    width: 100%;
}

.nav-buttom-text{
    margin-left: 10%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.nav-buttom:hover,
.nav-buttom.active{
    background-color: var(--primary-color-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}

@media (max-width: 600px) {
    nav{

        position: fixed;
        top: 0;
        left: -250px; 
        width:35vw;
        transition: left 0.3s ease;
    }

    nav.open{
        left: 0; 
    }
}