@import url("../app.css");

nav{
    width: 12vw;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.nav-buttons{
    margin-top: 10vh;
    margin-left: 7px;
}

.nav-buttom{
    display: flex;
    align-items: center; 
    margin-top: 3px;
    height: 2.3rem;
    background-color: var(--primary-color);
    width: 100%;
}

.nav-buttom-text{
    margin-left: 10%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.nav-buttom:hover,
.nav-buttom.active{
    background-color: var(--primary-color-hover);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease;
}

@media (max-width: 600px) {
    nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width:100%;
    }

    .nav-buttom{
        display: block;
        text-align: center;
        width:100%;
        padding:0px;
        margin:0px;
    }

    .nav-buttom:hover{
        background-color: var(--primary-color);
    }

    .nav-buttom-text{
        margin:0;
    }
}