@import url("../app.css");

.project-title-div{
    display: flex;
    gap:10px; 
    align-items: center;
}

.project-button{
    border: #000000 solid 1px;
    background-color: var(--tertiary-color);
    cursor: pointer;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

.project-item{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 1rem;
    padding: 1rem;
    border: #000000 solid 1px;
    background-color: var(--tertiary-color);
}

.project-item-info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
}

.project-div-text{
    margin: 0 0.7rem 0.7rem 0.7rem;
}

.project-description, .project-technologies{
    padding-bottom: 0.3rem;
    font-size: 1rem;
}

.project-title{
    padding-bottom: 0.1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.project-list{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

.project-image{
    border: 5px solid var(--secondary-color);
    display: block;
    width: 100%;
    height: fit-content;
}

.project-github{
    display: flex; 
    justify-content: flex-end; 
    margin-top: auto;
}

@media (max-width: 600px) {
    .project-title-div{
        display: flex; 
        width: 100%;
        justify-content: center;
    }

    .project-button, .project-button i{
        display: none;
    }

    .project-list
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .project-image-list{
        width: 100%;
    }
}